@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
font-family: 'Poppins', sans-serif;
font-weight: 300;
display: flex;
justify-content: center;
align-items: center;
min-height:100vh;
background: whitesmoke;

}
.tab-container{
  max-width: 950px;
  width: 100%;
  padding: 50px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(1,12,3,0.2);
  
}
.tab ul{
  display: flex;
  justify-content: center;
  
}
.tab ul li{
  list-style: none;
  padding: 5px 30px;
  margin: 5px;
  background: #d3d5dbc2;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 20px rgba(134,236,153,0.2);
}
.tab ul li.btn-active{
  background: #f7d6d3;
  color: #d93025;
}

.details h1, .details p{
  padding: 10px;
  margin: 5px 10px;
  
}
.details{
  display: none;
}
.btn{
  background: #d0d6fd;
  color:#0d23ac;
  padding: 10px 70px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  margin: 15px 0;
}
.details.active{
  display: block;
}

@media only screen and (max-width: 720px) {
  body ,.tab-container{
    width: 100%;
    padding:25px;
    
    
  }
}